<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    
    <link href="//fonts.googleapis.com/css?family=Lato|Open+Sans:400,700,800" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class='container'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
                <!-- LEFT NAV -->
                  <a href="/" class="navbar-brand">
                    <i class="fa fa-angellist"> DevMatch</i></a>
                    <%= link_to root_path , class: "navbar-brand" do %>
                      <i class= 'fa fa-angellist'></i>
                      DevMatch
                    
                    <% end %>
          </div>
                 <!-- RIGHT NAV -->
                  <div class="collapse navbar-collapse" id="main-nav-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      
                      <li><a href="/about">About</a></li>
                      <li> <%= link_to 'About', about_path %></li>
                      
                      <li><a href="#">Page1</a></li>
                      <li><a href="#">Page1</a></li>
                    </ul>
                    
                    
                  </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    
    
    
    
      <%= yield %>
      
    
    
    
  </body>
</html>
